* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: green;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  color: white;
  margin: 10px auto 20px;
  letter-spacing: 1px;
  font-size: 25px;
}
img {
  width: 120px;
  height: 120px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 1px;
}
button:hover {
  background-color: white;
  color: green;
  border: 2px solid green;
}
.form {
  width: 90%;
  max-width: 360px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  background-color: white;
}
input,
textarea,
select {
  border: 2px solid green;
}
input:focus,
textarea:focus,
select:focus {
  border-radius: 10px;
}
.menu-link{
  margin: auto;
  display: block;
  width: 80px;
  padding: 5px 10px;
  text-align: center;
  color: white;
  background-color: black;
  text-decoration: none;  
  border-radius: 10px;
}
.menu-link:hover{
  color: green;
  background-color: white;
}